/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  html {
    line-height: 1.5;
  }
  /* align content: space around */
  .ac-sa {
    align-content: space-around;
  }

  /* align items: baseline, center */
  .ai-b {
    align-items: baseline;
  }

  .ai-c {
    align-items: center;
  }

  .as-c {
    align-self: center;
  }

  /* background: cover, no repeat */
  .b-c {
    background-size: cover;
  }

  .b-nr {
    background-repeat: no-repeat;
  }

  /* border: solid (large, medium, small) */
  .b-s-l {
    border: solid 10%;
  }

  .b-s-m {
    border: solid 4%;
  }

  .b-s-s {
    border: solid 1%;
  }

  /* background color: dark blue, gray, no color, white */
  .bg-c-db {
    background-color: rgb(0, 92, 92);
  }

  .bg-c-g {
    background-color: rgb(153, 182, 182);
  }

  .bg-c-n {
    background-color: transparent;
  }

  .bg-c-w {
    background-color: rgb(255, 255, 255);
  }

  /* bottom position: lifted slightly and stuck */
  .bp-l {
    bottom: 10%;
  }
  .bp-s {
    bottom: 0;
  }

  /* color: blue, dark blue, dark gray, black light blue, gray, white */
  .c-b {
    color: rgb(0, 143, 143);
  }

  .c-db {
    color: rgb(0, 92, 92);
  }

  .c-dg {
    color: rgb(51, 51, 51);
  }

  .c-k {
    color: rgb(0, 0, 0);
  }

  .c-lb {
    color: rgb(197, 255, 255);
  }

  .c-g {
    color: rgb(153, 182, 182);
  }

  .c-w {
    color: rgb(255, 255, 255);
  }

  /* display: block; flex box: flex direction columns, no wrap, wrap  */
  .d-b {
    display: block;
  }

  .d-f {
    display: flex;
  }

  .df-fdc {
    flex-direction: column;
  }

  .df-nw {
    flex-wrap: nowrap;
  }

  .df-w {
    flex-wrap: wrap;
  }

  /* float: left */
  .fl-l {
    float: left;
  }

  /* font family */
  .f-f {
    font-family: "Inknut Antiqua", serif;
  }

  /* font size: jumbo, large, medium, small */
  .fs-j {
    font-size: 2.5rem;
  }

  .fs-l {
    font-size: 1rem;
  }

  .fs-m {
    font-size: 0.85rem;
  }

  .fs-s {
    font-size: 0.5rem;
  }

  /* gradients: fading white, white to dark blue, white to light blue */
  .g-fw {
    background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7) 200%
    );
  }
  .g-wdb {
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 92, 92) 100%);
  }

  .g-wlb {
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 255, 255) 100%);
  }

  /* height: full, full viewport, half, minimal */
  .h-f {
    height: 100%;
  }
  .h-fv {
    height: 100vh;
  }
  .h-h {
    height: 50%;
  }
  .h-m {
    height: 10%;
  }

  /* images: fixed large, small */
  .i-fl {
    max-height: 60%;
    max-width: 60%;
    min-height: 60%;
    min-width: 60%;
  }

  .i-fs {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
  }

  /* justfy-conytent: center, flex-end, space-between, space-evenly */
  .jc-c {
    justify-content: center;
  }

  .jc-fe {
    justify-content: flex-end;
  }

  .jc-sb {
    justify-content: space-between;
  }

  .jc-se {
    justify-content: space-evenly;
  }

  /* justify-items: center */
  .ji-c {
    justify-items: center;
  }

  /* line height: full */
  .lh-f {
    line-height: 3rem;
  }

  /* margin: large, medium, small */
  .m-l {
    margin: 5%;
  }

  /* .m-m {
    margin: 3%;
  } */

  .m-s {
    margin: 1.5%;
  }

  /* min-height: auto, full, full viewport */
  .mnh-a {
    min-height: auto;
  }
  .mnh-f {
    min-height: 100%;
  }
  .mnh-fv {
    min-height: 100vh;
  }

  /* min width: auto, full, full viewport, 40% */
  .mnw-a {
    min-width: auto;
  }
  .mnw-f {
    min-width: 100%;
  }
  .mnw-fv {
    min-width: 100vw;
  }
  .mnw-40 {
    min-width: 40%;
  }

  /* margin-right: small */
  .mr-s {
    margin-right: 1%;
  }

  /* margin-top: large, double extra large */
  .mt-l {
    margin-top: 1%;
  }

  .mt-xxl {
    margin-top: 5%;
  }

  /* max-height: auto, full, full viewport, inherit */
  .mxh-a {
    max-height: auto;
  }
  .mxh-f {
    max-height: 100%;
  }
  .mxh-fv {
    max-height: 100vh;
  }
  .mxh-i {
    max-height: inherit;
  }

  /* max width: auto, full, full viewport, inherit, 40% */
  .mxw-a {
    max-width: auto;
  }
  .mxw-f {
    max-width: 100%;
  }
  .mxw-fv {
    max-width: 100vw;
  }
  .mxw-i {
    max-width: inherit;
  }
  .mxw-40 {
    max-width: 40%;
  }

  /* opacity heavy, medium, light */
  .o-h {
    opacity: 0.75;
  }

  .o-m {
    opacity: 0.5;
  }

  .o-l {
    opacity: 0.25;
  }

  /* overflow: scroll */
  .of-s {
    overflow: scroll;
  }

  /* padding: large, medium, small */
  .p-l {
    padding: 5%;
  }

  .p-m {
    padding: 2%;
  }

  .p-s {
    padding: 1%;
  }

  /* position: absolute, fixed, relative */
  .p-a {
    position: absolute;
  }

  .p-f {
    position: fixed;
  }

  .p-r {
    position: relative;
  }

  /* padding-right: small */
  .pr-s {
    padding-right: 1%;
  }

  /* shadow */
  .s {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* text align: center */
  .ta-c {
    text-align: center;
  }

  /* text decoration: none */
  .td-n {
    text-decoration: none;
  }

  /* text indent */
  .t-i {
    text-indent: 5%;
  }

  /* top position: stuck */
  .tp-s {
    top: 0;
  }

  /* text-style: italicized */
  .ts-i {
    font-style: italic;
  }

  /* width half, full, full viewport */
  .w-h {
    width: 50%;
  }

  .w-f {
    width: 100%;
  }

  .w-fv {
    width: 100vw;
  }

  /* white-space: no wrap; */
  .ws-nw {
    white-space: nowrap;
  }

  /* z-index: position 1 */
  .z-1 {
    z-index: 1;
  }

  /* ------------------GRID CSS------------------ */
  /* about me page grid */
  .d-g-a {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }

  .gbx-a-0 {
    grid-area: gbx-a-0;
    grid-row: auto;
  }

  .gbx-a-1 {
    grid-area: gbx-a-1;
    grid-row: auto;
  }

  .gbx-a-2 {
    grid-area: gbx-a-2;
    grid-row: auto;
  }

  .gbx-a-3 {
    grid-area: gbx-a-3;
    grid-row: auto;
  }

  .gbx-a-4 {
    grid-area: gbx-a-4;
    grid-row: auto;
  }

  /* contact page grid */
  .d-g-c {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }

  .gbx-c-0 {
    grid-area: gbx-c-0;
    grid-row: auto;
  }

  .gbx-c-1 {
    grid-area: gbx-c-1;
    grid-row: auto;
  }

  .gbx-c-2 {
    grid-area: gbx-c-2;
    grid-row: auto;
  }

  /* portfolio page grid */
  .d-g-p {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }

  .gbx-p-0 {
    grid-area: gbx-p-0;
    grid-row: auto;
  }

  .gbx-p-1 {
    grid-area: gbx-p-1;
    grid-row: auto;
  }

  .gbx-p-2 {
    grid-area: gbx-p-2;
    grid-row: auto;
  }

  .gbx-p-3 {
    grid-area: gbx-p-3;
    grid-row: auto;
  }

  .gbx-p-4 {
    grid-area: gbx-p-4;
    grid-row: auto;
  }

  .gbx-p-5 {
    grid-area: gbx-p-5;
    grid-row: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* global */
  html {
    line-height: 1.5;
  }

  /* align content: space around */
  .ac-sa {
    align-content: space-around;
  }

  /* align items: baseline, center */
  .ai-b {
    align-items: baseline;
  }

  .ai-c {
    align-items: center;
  }

  /* align-self: center */
  .as-c {
    align-self: center;
  }
/* background: cover, no repeat */
.b-c {
  background-size: cover;
}

.b-nr {
  background-repeat: no-repeat;
}

/* border: solid (large, medium, small) */
.b-s-l {
  border: solid 10%;
}

.b-s-m {
  border: solid 4%;
}

.b-s-s {
  border: solid 1%;
}

/* background color: dark blue, gray, no color, white */
.bg-c-db {
  background-color: rgb(0, 92, 92);
}

.bg-c-g {
  background-color: rgb(153, 182, 182);
}

.bg-c-n {
  background-color: transparent;
}

.bg-c-w {
  background-color: rgb(255, 255, 255);
}

/* bottom position: lifted slightly and stuck */
.bp-l {
  bottom: 10%;
}
.bp-s {
  bottom: 0;
}

/* color: blue, dark blue, dark gray, black light blue, gray, white */
.c-b {
  color: rgb(0, 143, 143);
}

.c-db {
  color: rgb(0, 92, 92);
}

.c-dg {
  color: rgb(51, 51, 51);
}

.c-k {
  color: rgb(0, 0, 0);
}

.c-lb {
  color: rgb(197, 255, 255);
}

.c-g {
  color: rgb(153, 182, 182);
}

.c-w {
  color: rgb(255, 255, 255);
}

  /* display: block; flex box, flex directiojn columns, no wrap, wrap */
  .d-b {
    display: block;
  }

  .d-f {
    display: flex;
  }

  .df-fdc {
    flex-direction: column;
  }

  .df-nw {
    flex-wrap: nowrap;
  }

  .df-w {
    flex-wrap: wrap;
  }

  /* float: left */
  .fl-l {
    float: left;
  }

  /* font family */
  .f-f {
    font-family: "Inknut Antiqua", serif;
  }

  /* font size: jumbo, large, medium, small */
  .fs-j {
    font-size: 2.5rem;
  }

  .fs-l {
    font-size: 1rem;
  }

  .fs-m {
    font-size: 0.85rem;
  }

  .fs-s {
    font-size: 0.5rem;
  }

  /* gradients: fading white, white to dark blue, white to light blue */
  .g-fw {
    background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7) 200%
    );
  }

  .g-wdb {
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 92, 92) 100%);
  }

  .g-wlb {
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 255, 255) 100%);
  }

  /* height: full, full viewport, half, minimal */
  .h-f {
    height: 100%;
  }
  .h-fv {
    height: 100vh;
  }
  .h-h {
    height: 50%;
  }
  .h-m {
    height: 10%;
  }

  /* images: fixed large, fixed small */
  .i-fl {
    max-height: 60%;
    max-width: 60%;
    min-height: 60%;
    min-width: 60%;
  }

  .i-fs {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
  }

  /* justfy-content: center, flex-end, space-between, space-evenly */
  .jc-c {
    justify-content: center;
  }

  .jc-fe {
    justify-content: flex-end;
  }

  .jc-sb {
    justify-content: space-between;
  }

  .jc-se {
    justify-content: space-evenly;
  }

  /* justify-items: center */
  .ji-c {
    justify-items: center;
  }

  /* line-height: full */
  .lh-f {
    line-height: 3rem;
  }

  /* margin: large, medium, small */
  .m-l {
    margin: 5%;
  }

  /* .m-m {
    margin: 3%;
  } */

  .m-s {
    margin: 1.5%;
  }

  /* min-height: auto, full, full viewport */
  .mnh-a {
    min-height: auto;
  }
  .mnh-f {
    min-height: 100%;
  }
  .mnh-fv {
    min-height: 100vh;
  }

  /* min width: auto, full, full viewport, 40% */
  .mnw-a {
    min-width: auto;
  }
  .mnw-f {
    min-width: 100%;
  }
  .mnw-fv {
    min-width: 100vw;
  }
  .mnw-40 {
    min-width: 40%;
  }

  /* margin-right: small */
  .mr-s {
    margin-right: 1%;
  }

  /* margin-top: large, double extra large */
  .mt-l {
    margin-top: 1%;
  }

  .mt-xxl {
    margin-top: 5%;
  }

  /* max-height: auto, full, full viewport, inherit */
  .mxh-a {
    max-height: auto;
  }
  .mxh-f {
    max-height: 100%;
  }
  .mxh-fv {
    max-height: 100vh;
  }
  .mxh-i {
    max-height: inherit;
  }

  /* max width: auto, full, full viewport, inherit, 40% */
  .mxw-a {
    max-width: auto;
  }
  .mxw-f {
    max-width: 100%;
  }
  .mxw-fv {
    max-width: 100vw;
  }
  .mxw-i {
    max-width: inherit;
  }
  .mxw-40 {
    max-width: 40%;
  }

  /* opacity heavy, medium, light */
  .o-h {
    opacity: 0.75;
  }

  .o-m {
    opacity: 0.5;
  }

  .o-l {
    opacity: 0.25;
  }

  /* overflow: scroll */
  .of-s {
    overflow: scroll;
  }

  /* padding: large, medium, small */
  .p-l {
    padding: 5%;
  }

  .p-m {
    padding: 2%;
  }

  .p-s {
    padding: 1%;
  }

  /* padding-right: small */
  .pr-s {
    padding-right: 1%;
  }

  /* position: absolute, fixed, relative */
  .p-a {
    position: absolute;
  }

  .p-f {
    position: fixed;
  }

  .p-r {
    position: relative;
  }

  /* shadow */
  .s {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* text align: center */
  .ta-c {
    text-align: center;
  }

  /* text decoration: none */
  .td-n {
    text-decoration: none;
  }

  /* text indent */
  .t-i {
    text-indent: 5%;
  }

  /* top position: stuck */
  .tp-s {
    top: 0;
  }

  /* text style: italicized */
  .ts-i {
    font-style: italic;
  }

  /* width half, full, full viewport */
  .w-h {
    width: 50%;
  }

  .w-f {
    width: 100%;
  }

  .w-fv {
    width: 100vw;
  }

  /* white-space: no wrap; */
  .ws-nw {
    white-space: nowrap;
  }

  /* z-index: position 1 */
  .z-1 {
    z-index: 1;
  }

  /* ------------------GRID CSS------------------ */
  /* about me page grid */
  .d-g-a {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }

  .gbx-a-0 {
    grid-area: gbx-a-0;
    grid-row: auto;
  }

  .gbx-a-1 {
    grid-area: gbx-a-1;
    grid-row: auto;
  }

  .gbx-a-2 {
    grid-area: gbx-a-2;
    grid-row: auto;
  }

  .gbx-a-3 {
    grid-area: gbx-a-3;
    grid-row: auto;
  }

  .gbx-a-4 {
    grid-area: gbx-a-4;
    grid-row: auto;
  }

  /* contact page grid */
  .d-g-c {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }

  .gbx-c-0 {
    grid-area: gbx-c-0;
    grid-row: auto;
  }

  .gbx-c-1 {
    grid-area: gbx-c-1;
    grid-row: auto;
  }

  .gbx-c-2 {
    grid-area: gbx-c-2;
    grid-row: auto;
  }

  /* portfolio page grid */
  .d-g-p {
    display: grid;
    grid-template-columns: none;
    grid-template-rows: auto;
    height: 100%;
    width: 100%;
  }

  .gbx-p-0 {
    grid-area: gbx-p-0;
    grid-row: auto;
  }

  .gbx-p-1 {
    grid-area: gbx-p-1;
    grid-row: auto;
  }

  .gbx-p-2 {
    grid-area: gbx-p-2;
    grid-row: auto;
  }

  .gbx-p-3 {
    grid-area: gbx-p-3;
    grid-row: auto;
  }

  .gbx-p-4 {
    grid-area: gbx-p-4;
    grid-row: auto;
  }

  .gbx-p-5 {
    grid-area: gbx-p-5;
    grid-row: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* global */
  html {
    line-height: 1.5;
  }

  /* align content: space around */
  .ac-sa {
    align-content: space-around;
  }

  /* align items: baseline */
  .ai-b {
    align-items: baseline;
  }

  /* align items: center */
  .ai-c {
    align-items: center;
  }

  /*align-self: center  */
  .as-c {
    align-self: center;
  }

  /* background: cover, no repeat */
  .b-c {
    background-size: cover;
  }

  .b-nr {
    background-repeat: no-repeat;
  }

  /* border: solid (large, medium, small) */
  .b-s-l {
    border: solid 10%;
  }

  .b-s-m {
    border: solid 4%;
  }

  .b-s-s {
    border: solid 1%;
  }

  /* background color: dark blue, gray, no color, white */
  .bg-c-db {
    background-color: rgb(0, 92, 92);
  }

  .bg-c-g {
    background-color: rgb(153, 182, 182);
  }

  .bg-c-n {
    background-color: transparent;
  }

  .bg-c-w {
    background-color: rgb(255, 255, 255);
  }

  /* bottom position: lifted slightly and stuck */
  .bp-l {
    bottom: 10%;
  }
  .bp-s {
    bottom: 0;
  }

  /* color: blue, dark blue, dark gray, black light blue, gray, white */
  .c-b {
    color: rgb(0, 143, 143);
  }

  .c-db {
    color: rgb(0, 92, 92);
  }

  .c-dg {
    color: rgb(51, 51, 51);
  }

  .c-k {
    color: rgb(0, 0, 0);
  }

  .c-lb {
    color: rgb(197, 255, 255);
  }

  .c-g {
    color: rgb(153, 182, 182);
  }

  .c-w {
    color: rgb(255, 255, 255);
  }

  /* display: flex block; flex box, flex direction columns, no wrap, wrap */
  .d-b {
    display: block;
  }

  .d-f {
    display: flex;
  }

  .df-fdc {
    flex-direction: column;
  }

  .df-nw {
    flex-wrap: nowrap;
  }

  .df-w {
    flex-wrap: wrap;
  }

  /* float: left */
  .fl-l {
    float: left;
  }

  /* font family */
  .f-f {
    font-family: "Inknut Antiqua", serif;
  }

  /* font size: jumbo, large, medium, small */
  .fs-j {
    font-size: 2.5rem;
  }

  .fs-l {
    font-size: 1.5rem;
  }

  .fs-m {
    font-size: 0.85rem;
  }

  .fs-s {
    font-size: 0.5rem;
  }

  /* gradients: fading white, white to dark blue, white to light blue */
  .g-fw {
    background: linear-gradient(
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.7) 200%
    );
  }

  .g-wdb {
    background: linear-gradient(rgb(255, 255, 255), rgb(0, 92, 92) 100%);
  }

  .g-wlb {
    background: linear-gradient(rgb(255, 255, 255), rgb(197, 255, 255) 100%);
  }

  /* height: full, full viewport, half, minimal */
  .h-f {
    height: 100%;
  }
  .h-fv {
    height: 100vh;
  }
  .h-h {
    height: 50%;
  }
  .h-m {
    height: 10%;
  }

  /* images: fixed large, medium, small */
  .i-fl {
    max-height: 60%;
    max-width: 60%;
    min-height: 60%;
    min-width: 60%;
  }

  .i-fm {
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
  }

  .i-fs {
    max-height: 25px;
    max-width: 25px;
    min-height: 25px;
    min-width: 25px;
  }

  /* justify-content: center, flex-end, space-between, space-evenly */
  .jc-c {
    justify-content: center;
  }

  .jc-fe {
    justify-content: flex-end;
  }

  .jc-sb {
    justify-content: space-between;
  }

  .jc-se {
    justify-content: space-evenly;
  }

  /* justify-items: center */
  .ji-c {
    justify-items: center;
  }

  /* line-height: full */
  .lh-f {
    line-height: 3em;
  }

  /* margin: large, medium, small */
  .m-l {
    margin: 5%;
  }

  .m-m {
    margin: 3%;
  }

  .m-s {
    margin: 1.5%;
  }

  /* min-height: auto, full, full viewport */
  .mnh-a {
    min-height: auto;
  }
  .mnh-f {
    min-height: 100%;
  }
  .mnh-fv {
    min-height: 100vh;
  }

  /* min width: auto, full, full viewport, 40% */
  .mnw-a {
    min-width: auto;
  }
  .mnw-f {
    min-width: 100%;
  }
  .mnw-fv {
    min-width: 100vw;
  }
  .mnw-40 {
    min-width: 40%;
  }

  /* margin-right: small */
  .mr-s {
    margin-right: 1%;
  }

  /* margin-top: large, double extra large */
  .mt-l {
    margin-top: 5%;
  }

  .mt-xxl {
    margin-top: 10%;
  }

  /* max-height: auto, full, full viewport, inherit */
  .mxh-a {
    max-height: auto;
  }
  .mxh-f {
    max-height: 100%;
  }
  .mxh-fv {
    max-height: 100vh;
  }
  .mxh-i {
    max-height: inherit;
  }

  /* max width: auto, full, full viewport, inherit, 40% */
  .mxw-a {
    max-width: auto;
  }
  .mxw-f {
    max-width: 100%;
  }
  .mxw-fv {
    max-width: 100vw;
  }
  .mxw-i {
    max-width: inherit;
  }
  .mxw-40 {
    max-width: 40%;
  }

  /* opacity heavy, medium, light */
  .o-h {
    opacity: 0.75;
  }

  .o-m {
    opacity: 0.5;
  }

  .o-l {
    opacity: 0.25;
  }

  /* overflow: scroll */
  .of-s {
    overflow: scroll;
  }

  /* padding: large, medium, small */
  .p-l {
    padding: 5%;
  }

  .p-m {
    padding: 2%;
  }

  .p-s {
    padding: 1%;
  }

  /* position: absolute, fixed, relative */
  .p-a {
    position: absolute;
  }

  .p-f {
    position: fixed;
  }

  .p-r {
    position: relative;
  }

  /* padding-right: small */
  .pr-s {
    padding-right: 1%;
  }

  /* shadow */
  .s {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* text indent */
  .t-i {
    text-indent: 5%;
  }

  /* text align: center */
  .ta-c {
    text-align: center;
  }

  /* text decoration: none */
  .td-n {
    text-decoration: none;
  }

  /* top position: stuck */
  .tp-s {
    top: 0;
  }

  /* text-style: italicized */
  .ts-i {
    font-style: italic;
  }

  /* width full, full viewport, half */
  .w-f {
    width: 100%;
  }

  .w-fv {
    width: 100vw;
  }

  .w-h {
    width: 50%;
  }

  /* white-space: no wrap */
  .ws-nw {
    white-space: nowrap;
  }

  /* z-index: position 1 */
  .z-1 {
    z-index: 1;
  }

  /* ------------------ON FOCUS ------------------ */
  /* change background color to blue */
  .bg-c-b-fc:focus {
    background-color: rgb(0, 143, 143);
  }

  /* change background color to dark blue */
  .bg-c-db-fc:focus {
    background-color: rgb(0, 92, 92);
  }

  /* change background color to white */
  .bg-c-w-fc:focus {
    background-color: rgb(255, 255, 255);
  }

  /* change color to blue */
  .c-b-fc:focus {
    color: rgb(0, 143, 143);
  }

  /* change color to dark blue */
  .c-db-fc:focus {
    color: rgb(0, 92, 92);
  }

  /* change color to white */
  .c-w-fc:focus {
    color: rgb(255, 255, 255);
  }

  /* grow, shrink */
  .t-g-fc:focus {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-fc:focus {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-fc:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* ------------------ ON HOVER ------------------ */
  /* change background color to blue */
  .bg-c-b-hv:hover {
    background-color: rgb(0, 143, 143);
  }

  /* change background color to dark blue */
  .bg-c-db-hv:hover {
    background-color: rgb(0, 92, 92);
  }

  /* change background color to light blue */
  .bg-c-lb-hv:hover {
    background-color: rgb(197, 255, 255);
  }

  /* change background color to white */
  .bg-c-w-hv:hover {
    background-color: rgb(255, 255, 255);
  }

  /* change color to blue */
  .c-b-hv:hover {
    color: rgb(0, 143, 143);
  }

  /* change color to dark blue */
  .c-db-hv:hover {
    color: rgb(0, 92, 92);
  }

  /* change color to white */
  .c-w-hv:hover {
    color: rgb(255, 255, 255);
  }

  /* grow, shrink */
  .t-g-hv:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-hv:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-hv:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* ------------------GRID CSS------------------ */
  /* about me page grid */
  .d-g-a {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    grid-template-rows: auto;
    gap: 3%;
    height: 100%;
    width: 100%;
  }

  .gbx-a-0 {
    grid-area: gbx-a-0;
    grid-column: 1/2;
    grid-row: auto;
  }

  .gbx-a-1 {
    grid-area: gbx-a-1;
    grid-column: 2/2;
    grid-row: auto;
  }

  .gbx-a-2 {
    grid-area: gbx-a-2;
    grid-column: 1 / span 2;
    grid-row: auto;
  }

  .gbx-a-3 {
    grid-area: gbx-a-3;
    grid-column: 1 / span 2;
    grid-row: auto;
  }

  .gbx-a-4 {
    grid-area: gbx-a-4;
    grid-column: 1 / span 2;
    grid-row: auto;
  }

  /* contact page grid */
  .d-g-c {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    grid-template-rows: auto;
    gap: 3%;
    height: 100%;
    width: 100%;
  }

  .gbx-c-0 {
    grid-area: gbx-c-0;
    grid-column: 1 / span 2;
    grid-row: auto;
  }

  .gbx-c-1 {
    grid-area: gbx-c-1;
    grid-column: 1 / span 2;
    grid-row: auto;
  }

  .gbx-c-2 {
    grid-area: gbx-c-2;
    grid-column: 1 / span 2;
    grid-row: auto;
  }

  /* portfolio page grid */
  .d-g-p {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;
    gap: 3%;
  }

  .gbx-p-0 {
    grid-area: gbx-p-0;
    grid-column: 1/2;
    grid-row: auto;
  }

  .gbx-p-1 {
    grid-area: gbx-p-1;
    grid-column: 2/2;
    grid-row: auto;
  }

  .gbx-p-2 {
    grid-area: gbx-p-2;
    grid-column: 1/2;
    grid-row: auto;
  }

  .gbx-p-3 {
    grid-area: gbx-p-3;
    grid-column: 2/2;
    grid-row: auto;
  }

  .gbx-p-4 {
    grid-area: gbx-p-4;
    grid-column: 1/2;
    grid-row: auto;
  }

  .gbx-p-5 {
    grid-area: gbx-p-5;
    grid-column: 2/2;
    grid-row: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1080px) {
   
  /* #navBtn{
    text-shadow:
   -.5px -.5px 0 rgba(255, 255, 255,.7),  
    .5px -.5px 0 rgba(255, 255, 255,.7),
    -.5px .5px 0 rgba(255, 255, 255,.7),
     .5px .5px 0 rgba(255, 255, 255,.7);
  } */


  #email{
    display:none;
  }
  
  button, input{
    outline: none;
    border: none;
    font-family: 'Inknut Antiqua', 'serif';
  }
  
  /*
  .hko {
    background-image: url("../images/yemu3y50g4e41.jpg");  The image used 
    background-size: cover;
    position: relative;  Needed to position the cutout text in the middle of the image 
    height: 50vw; /* Some height 
    overflow: hidden;
  }
  
  .hkot {
    background-color: rgba(255, 255, 255,.7);
    color: black;
    font-size: 10vw;  Responsive font size 
    font-weight: bold;
    width: 55vw;
    height: 25vh;
    text-align: right;  Center text 
    position: absolute;  Position text 
    top: 88%;  Position text in the middle 
    left: 70%;  Position text in the middle 
    transform: translate(-46%, -45%);  Position text in the middle 
    mix-blend-mode: screen;  This makes the cutout text possible 
    overflow: hidden;
  }

  */
  .bg-w {
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }

  /* global */
  /* html {line-height: 1.5;} */
  .br-nr {background-repeat: no-repeat;}

  .b-s-l {border: solid 10%;}
  .b-s-m {border: solid 4%;}
  .b-s-s {border: solid 1%;}
  .b-n {border: none;}

  .bg-c-fw {background-color: rgba(255, 255, 255,.7);}
  .bg-c-fg {background-color: rgba(170, 170, 170, .9);}
  .bg-c-n {background-color: transparent;}
  .bg-c-w {background-color: rgb(255, 255, 255);}
  .bg-c-fk {background-color: rgba(0, 0, 0, .5);}

  .g-fk {
    background: linear-gradient(
      rgba(0, 0, 0, .8),
      rgba(0, 0, 0, 0.2) 200%
    );
  }

  .c-dg {color: rgb(51, 51, 51);}
  .c-k {color: rgb(0, 0, 0);}
  .c-g {color: rgb(170, 170, 170);}
  .c-w {color: rgb(255, 255, 255);}
  .c-fw{color: rgba(255, 255, 255,.7);}
  .c-n {color: transparent;}


  .f-f {font-family: "Inknut Antiqua", serif;}

  .fz-jjj {font-size: 500%;}  
  .fz-jj {font-size: 300%;}  
  .fz-j {font-size: 200%;}
  .fz-xl {font-size: 150%;}
  .fz-l {font-size: 100%;}
  .fz-m {font-size: 70%;}
  .fz-s {font-size: 50%;}


  .o-h {opacity: 0.75;}
  .o-m {opacity: 0.5;}
  .o-l {opacity: 0.25;}

  

  /* shadow */
  .s {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  .td-n {text-decoration: none;}
  .ts-i {font-style: italic;}


  /* ------------------ON FOCUS ------------------ */
  .bg-c-fw-fc:focus {background-color: rgba(255, 255, 255,.6);}
  .bg-c-w-fc:focus {background-color: rgb(255, 255, 255);}
  .c-w-fc:focus {color: rgb(255, 255, 255);}
  .c-dg-fc:focus {color: rgb(51, 51, 51);}


  /* grow, shrink */
  .t-g-fc:focus {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-fc:focus {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-fc:focus {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

  /* ------------------ ON HOVER ------------------ */
  
  .bg-c-fw-hv:hover {background-color: rgb(255, 255, 255, .6);}
  .c-w-hv:hover {color: rgb(255, 255, 255);}
  .c-dg-hv:hover {color: rgb(51, 51, 51);}

  .t-g-hv:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
  }
  .t-s-hv:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
  }

  /* add shadow */
  .s-hv:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }

}
