
.contactPage {
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	font-family: 'Major Mono Display';
	text-transform: lowercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow-x:hidden;
}

.contactContent{
	margin: 5vh;
	width: 80vw;
	display: flex;
	align-items: baseline;
	justify-content: center;
	font-size: x-large;

}

.pBlock{
	padding: 2vw;
}

.upper {
	text-transform: uppercase;
	font-weight: bolder;
	display: inline-block;
}


.resume {
	margin-top: 10vh;
}

  /* scrolling letters styles in scss file */