.portWrap{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.cardWrap{
  display:flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    height: inherit;
}

.cardImg {
    max-width: 40vw;
    max-height: auto;
}

.gitLink{
    text-decoration: none;
    outline: none;
}

/* .oldLinkWrap{
    background-color: rgba(255,255,255,.9);
    margin: 2vw;
    padding: 2vw;
    text-align: center;
    width: 40vw;
    --notchSize: 20px;
  
  clip-path: 
    polygon(
      0% var(--notchSize), 
      var(--notchSize) 0%, 
      calc(100% - var(--notchSize)) 0%,  
      100% var(--notchSize), 
      100% calc(100% - var(--notchSize)), 
      calc(100% - var(--notchSize)) 100%, 
      var(--notchSize) 100%, 
      0% calc(100% - var(--notchSize))
    );
} */

.linkWrap{
    
        position: relative;        
        color: white;
        text-align: center;
        padding: 2vw 2vw 0vw 2vw;
        margin:2vh;
        text-decoration: none;
}    


/* .linkWrap:hover{
  color:black;
  background-color: white;
} */



.carousel-root {
margin-top: 20vh;
font-family: 'Jost', sans-serif !important;
max-width: 55vw;
}

.carousel .carousel-status {
    position: relative;
        text-align: center;
        font-size: 1vw;
        text-shadow: 1px 1px 1px rgba(transparent, 0.9);
        color: #fff;
}

.carousel .control-dots {
    position: unset;
    margin: 0;
    padding: 2%;
    font-size: 2vw;
    background-color: rgba(255,255,255,.5);

}

.carousel .dot {
    outline: none;
}



.carousel .slide {
  background: rgba(255,255,255,.5);
  width: 10vw;

}

.carousel-status {
  background: rgba(255,255,255,.5);
  margin:0;
  padding:0;
}

.svg{
  color:white;
  background-color: transparent;
  padding: 10%;
  border-radius: 0;
  transition: all .5s ease-in-out;
}

.cardWrap:hover .svg {
  background-color: black;
}


.carousel .slide .legend {
  width: inherit;
  position: relative;
  font-size: inherit;
  border-radius: 0;
  bottom:0;
  left:0;
  right:0;
  top:0;
  margin:0;
  margin-top: 1vh;
}

.infoCard {
  opacity: 0;
  color: white;
  background-color: black;
  overflow:hidden;
  text-align:center;
  padding:2%;
  max-width: 80%;
  transform: scaleY(0);  
  transition: all 0.5s ease-in-out;
}

.cardWrap:hover .infoCard{
  opacity: 1;
  height: auto;

  transform: scaleY(1);  
  transition: all 0.5s ease-in-out;

}



























/*---*/
.bg {
    animation:slide 20s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #000 50%, rgb(173, 173, 173) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:44s;
  }
  
  .bg3 {
    animation-duration:45s;
  }
  
  
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }