
.navBar {
  width: 100vw;
  background-color: #111;
  color: white;
  position: fixed;
  top: 0;
  max-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

}

.headWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.navLink {
  padding: 0 2vh 0 1vh;
  text-decoration: none;
}

.navLink:link {
  color: white;
}

/* visited link */
.navLink:visited {
  color: white;
}

/* mouse over link */
.navLink:hover {
  color: red;
}

/* selected link */
.navLink:active {
  color: yellow;
}

.links {
font-weight: bold;
padding: 0 4vw 2vw 2vw;
text-align: right;
background-color: #111;
display: flex;
flex-direction: column;
width: 30vw;
min-width: 10vw;
align-self: flex-end;
border-bottom-left-radius:30%;
font-size: 4vw;

}

.scoop:before {
  content: "";
  width: 0px;
  height: 0px;
  position: relative;
  top:9px;
  right: 51px;
  height:51px;
  width: 44px;
  border-top-right-radius: 50%;
  background:transparent;
  box-shadow: 20px 0 0 0 #111;

}


.show-nav {
  height: 0;
  overflow: hidden;
 
}

.logo {
  padding-left: 5vw;
}

.toggle {
  color: white;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 7vh;
  padding-right: 5vw;

  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}



/* Media screen size */
@media screen and (min-width: 768px) {

  .navBar{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw 0 0;
  }

  

  .toggle {
      display: none;
  }

  .links {
    flex-direction: row;
    border-radius: 0;
    width: 100%;
    padding: 0 0 0 0;
    font-size: inherit;

  }

  .scoop:before {
    display: none;
  }
  
}