.Header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Wrapper{
    width: 100%;
    display:flex;
    flex-direction: row;
  }

  .Container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 3%;
  }

  .Nav {
    display: flex;
    align-items: center;
    background-color: #282c34;
    margin-right: 3%;
    width: 100vw;

  }
  
  .Logo {
    color: white;
    font-size: x-large;
    white-space: nowrap;
   }

  .Nav a {
    background-image: -webkit-linear-gradient(30deg, transparent 50%, #fff 50%);
    background-image: linear-gradient(30deg, transparent 50%, #fff 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: -1%;
    -webkit-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    text-decoration: none;
    padding: 4%;
    font-size: x-large;
  }

  .Nav a:hover {
    background-position: 100%;
    color: #282c34;
  }
  
  .Menu {
    display: none;
    margin: 0 6vw 0 0;
    padding: 0;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
    
  }
  .Menu:active {
    transform: rotate(90deg);
  }

  .NavAnimation-enter {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .NavAnimation-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: .4s ease-in-out;
  }
  
  .NavAnimation-exit {
    opacity: 1;
    transform: translateY(0);

  }
  .NavAnimation-exit-active {
    opacity: 0;
    transform: translateY(-100%);
    transition: .4s ease-in-out;
  }
  
  /* mobile layout overrides */
  @media (max-width: 720px) {
   
    .Nav {
      display: flex;
      justify-content: space-between;
      background: transparent;     
    }

    .Logo{
      margin: 5%;
      font-size: large;
    }

    .Nav a {
      padding: 4%;
      font-size: small;
    }

    .Menu {
      display: block;
      color: #fff;
    }

    .Container{
      flex-direction: row;
      
    }

    .Wrapper{
      flex-direction: column;
      padding-right: 0;
    }
  }
  